{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Pricing Table</title>
        <link rel="stylesheet" href="style.css" type="text/css">
        <link rel="stylesheet" href="{% static 'enduser/plans/css/plans2.css' %}" type="text/css">
        <script type="text/javascript" src="{% static 'enduser/plans/js/script2.js' %}"></script> 

    </head>
    <body>
        <div class="pricing-container">
            <div class="pricing-switcher">
                <p class="fieldset">
                    <input type="radio" name="duration-1" value="monthly" id="monthly-1" checked>
                    <label for="monthly-1">Monthly</label>
                    <input type="radio" name="duration-1" value="yearly" id="yearly-1">
                    <label for="yearly-1">Yearly</label>
                    <span class="switch"></span>
                </p>
            </div>
            <ul class="pricing-list bounce-invert">
                <li>
                    <ul class="pricing-wrapper">
                        <li data-type="monthly" class="is-visible">
                            <header class="pricing-header">
                                <h2>Basic</h2>
                                <div class="price">
                                    <span class="currency">$</span>
                                    <span class="value">30</span>
                                    <span class="duration">mo</span>
                                </div>
                            </header>
                            <div class="pricing-body">
                                <ul class="pricing-features">
                                    <li><em>5</em> Email Accounts</li>
                                    <li><em>1</em> Template Style</li>
                                    <li><em>25</em> Products Loaded</li>
                                    <li><em>1</em> Image per Product</li>
                                    <li><em>Unlimited</em> Bandwidth</li>
                                    <li><em>24/7</em> Support</li>
                                </ul>
                            </div>
                            <footer class="pricing-footer">
                                <a class="select" href="#">Sign Up</a>
                            </footer>
                        </li>
                        <li data-type="yearly" class="is-hidden">
                            <header class="pricing-header">
                                <h2>Basic</h2>
                                <div class="price">
                                    <span class="currency">$</span>
                                    <span class="value">320</span>
                                    <span class="duration">yr</span>
                                </div>
                            </header>
                            <div class="pricing-body">
                                <ul class="pricing-features">
                                    <li><em>5</em> Email Accounts</li>
                                    <li><em>1</em> Template Style</li>
                                    <li><em>25</em> Products Loaded</li>
                                    <li><em>1</em> Image per Product</li>
                                    <li><em>Unlimited</em> Bandwidth</li>
                                    <li><em>24/7</em> Support</li>
                                </ul>
                            </div>
                            <footer class="pricing-footer">
                                <a class="select" href="#">Sign Up</a>
                            </footer>
                        </li>
                    </ul>
                </li>
                <li class="exclusive">
                    <ul class="pricing-wrapper">
                        <li data-type="monthly" class="is-visible">
                            <header class="pricing-header">
                                <h2>Exclusive</h2>
                                <div class="price">
                                    <span class="currency">$</span>
                                    <span class="value">60</span>
                                    <span class="duration">mo</span>
                                </div>
                            </header>
                            <div class="pricing-body">
                                <ul class="pricing-features">
                                    <li><em>15</em> Email Accounts</li>
                                    <li><em>3</em> Template Styles</li>
                                    <li><em>40</em> Products Loaded</li>
                                    <li><em>7</em> Images per Product</li>
                                    <li><em>Unlimited</em> Bandwidth</li>
                                    <li><em>24/7</em> Support</li>
                                </ul>
                            </div>
                            <footer class="pricing-footer">
                                <a class="select" href="#">Sign Up</a>
                            </footer>
                        </li>
                        <li data-type="yearly" class="is-hidden">
                            <header class="pricing-header">
                                <h2>Exclusive</h2>
                                <div class="price">
                                    <span class="currency">$</span>
                                    <span class="value">630</span>
                                    <span class="duration">yr</span>
                                </div>
                            </header>
                            <div class="pricing-body">
                                <ul class="pricing-features">
                                    <li><em>15</em> Email Accounts</li>
                                    <li><em>3</em> Template Styles</li>
                                    <li><em>40</em> Products Loaded</li>
                                    <li><em>7</em> Images per Product</li>
                                    <li><em>Unlimited</em> Bandwidth</li>
                                    <li><em>24/7</em> Support</li>
                                </ul>
                            </div>
                            <footer class="pricing-footer">
                                <a class="select" href="#">Sign Up</a>
                            </footer>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="pricing-wrapper">
                        <li data-type="monthly" class="is-visible">
                            <header class="pricing-header">
                                <h2>Pro</h2>
                                <div class="price">
                                    <span class="currency">$</span>
                                    <span class="value">90</span>
                                    <span class="duration">mo</span>
                                </div>
                            </header>
                            <div class="pricing-body">
                                <ul class="pricing-features">
                                    <li><em>20</em> Email Accounts</li>
                                    <li><em>5</em> Template Styles</li>
                                    <li><em>50</em> Products Loaded</li>
                                    <li><em>10</em> Images per Product</li>
                                    <li><em>Unlimited</em> Bandwidth</li>
                                    <li><em>24/7</em> Support</li>
                                </ul>
                            </div>
                            <footer class="pricing-footer">
                                <a class="select" href="#">Sign Up</a>
                            </footer>
                        </li>
                        <li data-type="yearly" class="is-hidden">
                            <header class="pricing-header">
                                <h2>Pro</h2>
                                <div class="price">
                                    <span class="currency">$</span>
                                    <span class="value">950</span>
                                    <span class="duration">yr</span>
                                </div>
                            </header>
                            <div class="pricing-body">
                                <ul class="pricing-features">
                                    <li><em>20</em> Email Accounts</li>
                                    <li><em>5</em> Template Styles</li>
                                    <li><em>50</em> Products Loaded</li>
                                    <li><em>10</em> Images per Product</li>
                                    <li><em>Unlimited</em> Bandwidth</li>
                                    <li><em>24/7</em> Support</li>
                                </ul>
                            </div>
                            <footer class="pricing-footer">
                                <a class="select" href="#">Sign Up</a>
                            </footer>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </body>
</html>