# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
Pipfile

# Packaging
__pycache__

# my django stuff
notes.py
*.log
# Ignore database
# db.sqlite3

# Ignore static files (if using collectstatic)
# static/



