{% extends "oscar/base.html" %}

{% load i18n %}
{% load static %}


{% block styles %}
    {% include "oscar/snippets/css.html" %}
{% endblock %}

{% block extrastyles %}
    {{ block.super }}
    {# Custom css #}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'oscar/css/custom.css' %}" /> -->
{% endblock %}


{% block layout %}

    {% include 'oscar/snippets/preloader.html' %}
    {% block main_header %} 
        {% include "oscar/partials/header.html" %} 
    {% endblock %}

    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}        

        {% include "oscar/partials/alert_messages.html" %}
        
        {% block slider %} 
        {% endblock slider %} 
 
        <div class="container-fluid px-3">
            <div class="my-2">
                {% block breadcrumbs %} 
                {% endblock %}
            </div>

            {% block header %}
                <div class="page-header">
                    <h3 class="h4 font-weight-semibold">{% block headertext %} {% endblock %}</h3>
                </div>
            {% endblock %}

        </div>
        <div class="content">
            {# Div exists for AJAX updates to entire content section #}
            <div id="content_inner" class="container-fluid px-3">
                {% block content %} 
                {% endblock %}
            </div>
        </div>

    {% endblock content_wrapper %}

    {% block main_footer %} 
        {% include "oscar/partials/footer.html" %} 
    {% endblock %}

{% endblock %}

{# Local scripts #}
{% block scripts %}
    {{ block.super }}
    {% include 'oscar/snippets/js.html' %}
{% endblock %}

{% block extrascripts %}
    {% include "oscar/partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}
