
body {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #333;
    background-color: #f4f7f8;
    margin: 0;
    padding: 0;
}

table:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
table tr:hover {
    background-color: #f8f9fa;
}
