<!-- gmtisp_enduser/templates/profile.html -->
{% extends "gmtisp_enduser/layout.html" %}
{% load i18n %}


{% block title %} {{ block.super }} | Profile {% endblock %}

{% block content %}

<div class="">
  <div class="row mt-4">
    <!-- User Details -->
    <div class="col-6">
      <h4 class="h4">User Profile</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Username</td>
            <td>{{ user_details.username }}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ user_details.email }}</td>
          </tr>
          <tr>
            <td>First Name</td>
            <td>{{ user_details.first_name }}</td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td>{{ user_details.last_name }}</td>
          </tr>
          <tr>
            <td>Mobile</td>
            <td>{{ user_details.phone_number }}</td>
          </tr>
        </tbody>
      </table>
      <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    </div>

  <!-- Organization Details -->
 
    <div class="col-6">
      <h4 class="h4">My Organizations</h4>
      {% if user_details.organization_users %}
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Organization ID</th>
              <th>Admin Status</th>
            </tr>
          </thead>
          <tbody>
            {% for org_user in user_details.organization_users %}
              <tr>
                <td>{{ org_user.organization }}</td>
                <td>{{ org_user.is_admin|yesno:"Yes,No" }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No organizations found.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
