setuptools
Django>4.2,<5.0
celery
django-admin-autocomplete-filter
django-allauth
django-countries
django-environ
django-extensions
django-filter
django-ipware
django-model-utils
django-organizations
django-phonenumber-field
django-private-storage
django-recaptcha
django-sendsms
django-sequences
django-sesame
django-widget-tweaks
djangorestframework-simplejwt
dj-rest-auth
djangosaml2
drf-link-header-pagination
drf-yasg
jsonfield
phonenumbers
pyrad
python-stdnum
suds-py3
swapper
weasyprint
psycopg2-binary
# production
gunicorn
whitenoise