Django==5.1.2 #django==4.2.9
celery==5.4.0
django-admin-autocomplete-filter==0.7.1
django-allauth==65.1.0 
django-countries==7.6.1
django-environ==0.11.2
django-extensions==3.2.3
django-filter==24.3
django-ipware==7.0.1
django-model-utils==5.0.0
django-organizations==2.4.1
django-phonenumber-field==8.0.0
django-private-storage==3.1.1
django-recaptcha==4.0.0
django-sendsms==0.5
django-sequences==3.0
django-sesame==3.2.2
django-widget-tweaks==1.5.0
djangorestframework-simplejwt==5.3.1
dj-rest-auth==6.0.0
djangosaml2==1.9.3
drf-link-header-pagination==0.2.0
drf-yasg==1.21.8 # replace with drf-spectacular if need be
jsonfield==3.1.0
pyrad==2.4
python-stdnum==1.20
suds-py3==1.4.5.0
swapper==1.4.0
weasyprint==62.3
psycopg2-binary==2.9.10
