{% extends 'gmtisp_billing/layout.html' %}
{% load i18n %}

{% load payment_buttons %} {# for django-plan-payment #}

{% block title %}{{block.super}} | Order Details {% endblock %}

{% block head %}
    <script>
        $(function () {
            $('a.invoice').click(function (event) {
                event.preventDefault();
                window.open($(this).attr('href'), 'plans_invoice_{{ invoice.id }}', 'width=860,resizable=1,location=0,status=0,titlebar=1');
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h2>
        {% blocktrans with object.id as order_id and object.get_status_display as order_status %}
            Order #: {{ order_id }} (status: {{ order_status }})
        {% endblocktrans %}
    </h2>

    {# TODO: Provide displaying Django messages in this template #}

    {% with object as order %}
        {% include "gmtisp_billing/orders/order_detail_table.html" %}
    {% endwith %}

    {% if object.get_all_invoices.count %}
        <h2>{% trans "Printable documents" %}</h2>
        <ul id="order_printable_documents">
            {% for invoice in object.get_all_invoices %}
                <li>
                    <a href="{{ invoice.get_absolute_url }}" class="invoice">
                        {{ invoice.get_type_display }} {{ invoice }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h4 class="h4">{% trans "Select Payment option:" %}</h4>
    {% if object.completed %}
        <p class="alert alert-success">
            {% blocktrans with object.completed as completed %}
                Payment completed on: {{ completed }}
            {% endblocktrans %}
        </p>
    {% else %}
        {% if object.is_ready_for_payment %}
            {% block payment_method %}
                {% payment_buttons object %} 
            {% endblock %}
        {% else %}
            <p class="alert alert-warning">
                {% blocktrans %}
                    This order is expired. It will accept an incoming payment made earlier, but new payment cannot be initialized. Please make a new order if necessary.
                {% endblocktrans %}
            </p>
        {% endif %}
    {% endif %}

    {% if object.status == object.STATUS.NOT_VALID %}
        <p class="alert alert-danger">
            {% blocktrans %}
                This order could not be processed as it is not valid. Please contact customer service.
            {% endblocktrans %}
        </p>
    {% endif %}
{% endblock %}
