{% extends 'gmtisp_billing/layout.html' %}
{% load i18n %}


{% block content %}
    <h4>{% if SUCCESSFUL %}{% trans "Activation successful" %}{% else %}{% trans "Activation failed" %}{% endif %}</h4>

    {% if SUCCESSFUL %}
        {#  include "partials/messages.html" #}
        {% blocktrans %}
            Your panels will be available again soon.
        {% endblocktrans %}
    {% else %}
        {% blocktrans %}
            Your account cannot by activated because your account exceeds plan limits. Please adjust usage of limits and then try to activate your account again.
        {% endblocktrans %}
        {%  include "partials/messages.html" %}
    {% endif %}

{% endblock %}