{% extends 'gmtisp_billing/base.html' %}
{% load i18n %}

{% block content %}

    {% block account_details %}
    <h1>{% trans "Your account" %}</h1>
    <table class="table table-striped">
        <tr>
            <td><strong>{% trans "Account" %}:</strong></td>
            <td>{{ user }}</td>
        </tr>
        <tr>
            <td><strong>{% trans "State" %}:</strong></td>
            <td>{% if userplan.active %} {% trans "active" %} {% else %} {% trans "expired" %} {% endif %}</td>
        </tr>
        <tr>
            <td><strong>{% trans "Expire" %}:</strong></td>
            <td>{{ userplan.expire }}</td>
        </tr>
        <tr>
            <td><strong>{% trans "Plan" %}:</strong></td>
            <td>{{ userplan.plan }} <a href="{% url 'upgrade_plan' %}">{% trans "upgrade" %}</a></td>
        </tr>
    </table>
    {% endblock %}

    {% block plan_details %}
    <h2>{% trans "Plan details" %}</h2>
    <div class="row">
        <div class="col-md-5">
            {% include "gmtisp_billing/plans/plan_table.html" %}
        </div>
    </div>
    {% endblock %}

    {% block need_more %}
        <h1>{% trans "Need more?" %}</h1>
        {% url 'upgrade_plan' as upgrade_url %}
        {% blocktrans %}
            Please see other <a href="{{ upgrade_url }}">currently available plans</a>.
        {% endblocktrans %}
    {% endblock %}


{% endblock %}
