{% load i18n %}

{% if request.user.is_authenticated %}
<div class="container">
    <div class="row">
      {% for plan in plan_list %}
        <div class="col-md-3 mb-4">
            <div class="card card-pricing card-pricing-focus card-primary">
                <div class="card-header">
                    <h4 class="card-title">{{ plan.name_for_users }}</h4>
                    <div class="card-price">
                        <span class="price"><small>₵</small>{{ plan.price }}</span>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="specification-list">
                        <li>
                            <span class="name-specification">Start When</span>
                            <span class="status-specification">{{ plan.starts_when }}</span>
                        </li>
                        {% for plan_quota in plan.planquota_set.all %}
                          {% if plan_quota.quota.name %}
                            {% if plan_quota.quota.uptime_limit %}
                            <li>
                                <span class="name-specification">Validity</span>
                                <span class="status-specification">{{ plan_quota.quota.uptime_limit }}</span>
                            </li>
                            {% endif %}
                            {% if plan_quota.quota.transfer_limit %}
                            <li>
                                <span class="name-specification">Transfer Limit</span>
                                <span class="status-specification">{{ plan_quota.quota.transfer_limit }}</span>
                            </li>
                            {% endif %}

                              {% if plan_quota.quota.rate_limit_rx and plan_quota.quota.rate_limit_tx %}
                              <li>    
                                  <span class="name-specification">Rate Limit</span>
                                  <span class="status-specification">{{ plan_quota.quota.rate_limit_rx }} / {{ plan_quota.quota.rate_limit_tx }}</span>
                              </li>
                              {% endif %}
                              {% if plan_quota.quota.url %}
                                <a href="{{ plan_quota.quota.url }}" class="info_link quota">
                              {% endif %}
                            <li>
                              <span class="plan_description">{{ plan.description|default:"-" }}</span>
                            </li>
                            {% if plan_quota.pk %}
                              <a href="{% url 'create_order_plan' pk=plan_quota.pk %}" class="buy btn btn-info">{% trans "Buy Now" %}</a>
                            {% else %}
                              <span class="btn btn-secondary disabled">{% trans "Unavailable" %}</span>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
      {% endfor %}
    </div>
</div>
{% else %}
    <p>Please log in to see available plans.</p>
{% endif %}
