{% extends 'gmtisp_billing/layout.html' %}
{% load i18n %}

{% block title %} Plan List {% endblock %}

{% block content %}
    {% block seo_title %}{% trans "PLAN LIST" %}{% endblock %}
    {% block 'table' %}
    <table class="table">
        <thead>
            <tr>
                <th>Plan Name</th>
                <th>Plan Type</th>
                <th>Plan Available</th>
                <th>Plan Visible</th>
                <th>Plan quotas</th>
                <th>Plan setup cost</th>
            </tr>
        </thead>
        <tbody>
            {% for plan in plans %}
            <tr>
                <td><a href="{% url 'plan_details' plan.pk %}">{{ plan.name }}</td>
                <td>{{ plan.plan_type }}</td>
                <td>{{ plan.available }}</td>
                <td>{{ plan.visible }}</td>
                <td>{{ plan.quotas.first }}</td>
                <td>{{ plan.plan_setup_cost }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}

    {% block pagination_second %}
    {% include "partials/pagination.html" %}
    {% endblock %}

{% endblock %}